.navbarupcolor{
    background-color: #8d99ae
}
.navbardowncolor{
    background-color: #d90429;
}
.navbarupcoloradmboard{
    background-color: #023047;
}
.navbardowncoloradmboard{
    background-color: #a8dadc
   
}

.btn-search {
    border: solid;
    border-radius: 10px;
    background-color: #8d99ae;
}
li {
    font-weight: bolder;
    text-decoration: none;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #8d99ae;
}

